form.form
  .form__header ВАШ ОТЗЫВ
  input.form__input(type='text' name='name' placeholder='Ваше имя' required)
  input.form__input(type='text' name='place' placeholder='Укажите место' required)
  textarea.form__textarea(name='text' placeholder='Поделитесь впечатлениями' required)
  .form__controls
    button(type='button').form__button Добавить
